<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, &#xD;&#xA;                      PublicKeyToken=b77a5c561934e089"
                                                      >
            <section name="PcgTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, &#xD;&#xA;                     Culture=neutral, PublicKeyToken=b77a5c561934e089"
                                                                       allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PcgTools.Properties.Settings>
            <setting name="CopyPaste_CopyIncompleteCombis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyPaste_CopyIncompleteSetListSlots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyPaste_PasteDuplicatePrograms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_PasteDuplicateCombis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_PasteDuplicateSetListSlots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyPaste_OverwriteFilledPrograms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_OverwriteFilledCombis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_OverwriteFilledSetListSlots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyPaste_AutoExtendedSinglePatchSelectionPaste"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_CombiWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_CombiWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_PcgWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_PcgWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_ListGeneratorWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_ListGeneratorWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_SongWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_SongWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterFile_M3_OS1x" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_KronosOS10_11" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_Oasys" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_M50" serializeAs="String">
                <value />
            </setting>
            <setting name="UI_MasterFilesWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_MasterFilesWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterFile_MicroStation" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_TritonExtreme" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_TritonTrClassicStudioRack" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_TritonKarma" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_TritonLe" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFiles_AutoLoad" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MasterFile_KronosOS15_16" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_KronosOS2x" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_M3_OS20" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyPaste_CopyPatchesFromMasterFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="UI_MainWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="UI_MainWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="UI_MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_MainWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterFile_Krome" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_Kross" serializeAs="String">
                <value />
            </setting>
            <setting name="Sort_ArtistTitleSortOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sort_SplitCharacter" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="Sort_Order" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterFile_TrinityV2" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterFile_TrinityV3" serializeAs="String">
                <value />
            </setting>
            <setting name="TrinityCategorySetA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Slg_DefaultOutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CleanTimbres_WithMidiChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanTimbres_GM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanTimbres_MidiChannels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CleanTimbres_OnlyCleanTimbre10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanTimbres_WithMuteOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanTimbres_WithStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortTimbres_SortKeys" serializeAs="String">
                <value>SMCZV</value>
            </setting>
            <setting name="SortTimbres_FixedGaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortTimbres_GapsBetweenMidiChannels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SortTimbres_GapsBetweenKeyZones" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SortTimbres_Use8TimbresMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortTimbres_KeepTimbre10Fixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanTimbres_Statusses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterFile_Trinity" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Edit_RenameFileWhenPatchNameChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultManualFolder" serializeAs="String">
                <value>http://pcgtools.mkspace.nl/Manual.pdf</value>
            </setting>
            <setting name="MasterFile_KronosOS3x" serializeAs="String">
                <value />
            </setting>
            <setting name="Slg_DefaultOutputFolderForSequencerFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyPaste_IgnoreCharactersForPatchDuplication"
                serializeAs="String">
                <value />
            </setting>
            <setting name="CopyPaste_PatchDuplicationName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_ShowNumberOfReferencesColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_ShowWarningWhenClearingUsedPatches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_ClearPatches" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UI_ClearPatchesFixReferences" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Settings_AutoBackupFilesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Settings_AutoBackupFilesIntervalTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Settings_AutoBackupFilesMaxStorage" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="UI_SongTimbresWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_SongTimbresWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SingleLinedSetListSlotDescriptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_PasteDuplicateDrumKits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_PasteDuplicateWaveSequences" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_OverwriteFilledDrumKits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_OverwriteFilledWaveSequences" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_OverwriteFilledDrumPatterns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyPaste_PasteDuplicateDrumPatterns" serializeAs="String">
                <value>False</value>
            </setting>
        </PcgTools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
